@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 145, 0, 0.486);
  padding: 30px;
}

header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
  padding: 10px;
}

nav ul {
  background-color: rgb(249, 181, 93);
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #333;
}

p {
  border: 10px solid rgb(249, 181, 93);
  color: rgba(39, 6, 13, 0.783);
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 7px;
}

.segundo-parrafo {
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  letter-spacing: 5px;
  line-height: 35px;
  text-align: center;
}

.texto-negro {
  color: black;
}

.texto-mision,
.texto-vision {
  margin-top: 24px;
}

h1 {
  background-color: rgb(249, 181, 93);
  border: 5px double black;
  margin-bottom: 12px;
  text-align: center;
}

section {
  background-color: rgb(249, 181, 93);
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.imagenes-container {
  padding: 20px;
}

.imagenes-container h2 {
  margin-bottom: 12px;
}

.video-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.video-container h2 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 50px;
  text-align: center;
}

.video {
  margin-top: 20px;
}

.contador {
  border-radius: 10%;
  border: 10px dashed rgb(255, 255, 255);
  margin: 0 auto 24px;
  max-width: 650px;
  padding: 5px;
}

ul li {
  display: inline-block;
  list-style-type: none;
  padding: 30px;
}

span {
  color: black;
  text-transform: lowercase;
}

footer {
  background-color: rgb(254, 230, 194);
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 3em;
}

.image {
  margin-top: 10px;
  width: 100%;
}

.pys {
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 100%;
}

.redes {
  display: flex;
}

.redes a {
  display: flex;
}
.logo-container{
    width: 6%;
}
.logo{
    height: auto;
    width: 110px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks-container{
    width: 90%;
}